.basic-form-text-input {
  opacity: 0.8; }
  .basic-form-text-input:hover, .basic-form-text-input:focus {
    border-color: transparent;
    background-color: #fff;
    opacity: 1;
    box-shadow: 0px 2px 8.73px 0.27px rgba(40, 39, 38, 0.71); }
  .basic-form-text-input:focus {
    box-shadow: 0px 2px 5px 0.27px rgba(40, 39, 38, 0.71); }

.basic-form-button {
  width: 100%;
  color: #fff;
  padding: 8px 0;
  text-align: center;
  margin: 20px auto;
  text-transform: uppercase; }
  .basic-form-button-pink {
    background-color: #b80093; }
    .basic-form-button-pink:focus {
      background-color: #b80093;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .basic-form-button-pink:active {
      background-color: #940076; }
    .basic-form-button-pink:hover {
      background-color: #eb00bc; }

.basic-form__alert {
  opacity: 0;
  background-color: #fa5a5a;
  font-size: 14px;
  line-height: 1;
  color: #262626; }

.right-form__group {
  margin-bottom: 68px; }
  .right-form__group:nth-child(3) {
    margin-bottom: 17px; }
  .right-form__group-text-input {
    border: 2px solid #ccb9cf;
    border-radius: 6px; }
    .right-form__group-text-input:hover, .right-form__group-text-input:focus {
      border-color: transparent; }
  .right-form__group-button {
    margin: 0; }
    @media (max-width: 767px) {
      .right-form__group-button {
        margin-top: 25px; } }
  @media (max-width: 767px) {
    .right-form__group {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 10px; } }

.right-form__alert {
  margin: 0 0 18px 14px; }
  @media (max-width: 1199px) {
    .right-form__alert {
      flex: 0 0 78%; } }
  @media (max-width: 991px) {
    .right-form__alert {
      flex: 0 0 76.3%; } }
  @media (max-width: 767px) {
    .right-form__alert {
      margin: 0 auto;
      flex: 0 0 75%; } }

@media (max-width: 767px) {
  .right-form {
    margin-top: 50px; } }

@media (max-width: 767px) {
  .alignItemsCenter {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px; } }

.left-buttons-button {
  display: inline-block;
  width: 100%;
  padding: 9px 0;
  margin: 8px 0;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff; }
  .left-buttons-button:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .left-buttons-button:focus {
    outline: none; }
  .left-buttons-button-darkblue {
    background-color: #2c3e50; }
  .left-buttons-button-blue {
    background-color: #276fa7; }
  .left-buttons-button-pink {
    background-color: #b80093; }

.welcomePage {
  font-weight: 700;
  color: #262626; }
  .welcomePage__discr {
    font-size: 18px;
    font-weight: 800; }
  .welcomePage__registrationForm {
    font-size: 16px;
    padding-top: 50px; }
.profile {
  display: none;
}
.profile__content {
  margin-top: 50px; }
  .profile__content-left-avatar {
    border: 4px solid #fff;
    width: 143px;
    height: auto; }
  .profile__content-left-name {
    margin-top: 1.1rem; }
  .profile__content-right {
    margin-top: 10px; }

.dashboard {
  color: #fff; }
  .dashboard__filter {
    border-radius: 5px;
    background-color: #34495e; }
    .dashboard__filter-item {
      font-weight: 400;
      font-size: 1rem; }
    @media (max-width: 375px) {
      .dashboard__filter-small {
        flex: 0 0 100%;
        max-width: 100%; } }
    .dashboard__filter .slick-prev, .dashboard__filter .slick-next {
      position: static;
      transform: none;
      height: auto;
      width: auto;
      padding: 13px 20px; }
    .dashboard__filter .slick-next {
      border-left: 2px solid #2c3e50; }
    .dashboard__filter .slick-prev:before {
      content: url("../img/to-left.png");
      opacity: 1; }
    .dashboard__filter .slick-next:before {
      content: url("../img/to-right.png");
      opacity: 1; }
    .dashboard__filter .slick-list {
      align-self: center; }
    @media (max-width: 576px) {
      .dashboard__filter {
        margin-top: 20px;
        margin-bottom: 3px; } }
  .dashboard__list {
    overflow-y: auto;
    margin-top: 7px;
    padding-right: 9px;
    margin-right: -9px; }
    .dashboard__list-item {
      align-items: center;
      background-color: #2c3e50;
      margin: 7px 0;
      padding-top: 23px;
      padding-bottom: 22px; }
      @media (min-width: 576px) {
        .dashboard__list-item:nth-child(2) {
          margin-top: 0px; } }
      .dashboard__list-item:last-child {
        margin-bottom: 0px; }
      .dashboard__list-item-name {
        margin: 0 0 0 40px;
        font-size: 1.1rem; }
        @media (max-width: 991px) {
          .dashboard__list-item-name {
            margin: 0; } }
      .dashboard__list-item-time {
        width: 24px;
        height: 25px;
        background: url("../img/dashboard-sprite.png");
        background-position: -1px 25px;
        margin: 0 20px; }
      @media (max-width: 576px) {
        .dashboard__list-item-icons {
          margin-top: 13px; } }
      .dashboard__list-item-delete {
        width: 19px;
        height: 19px;
        background: url("../img/dashboard-sprite.png");
        background-position-x: 20px; }
      .dashboard__list-item-edit {
        width: 21px;
        height: 19px;
        background: url("../img/dashboard-sprite.png");
        background-position: 23px 20px; }
      .dashboard__list-item-tick {
        width: 22px;
        height: 20px;
        background: url("../img/dashboard-sprite.png");
        background-position: 44px 21px; }
    .dashboard__list_status-done {
      text-decoration: line-through; }
      .dashboard__list_status-done .dashboard__list-item-time {
        background-position: -1px 0; }
      .dashboard__list_status-done .dashboard__list-item-tick {
        background-position: 44px -1px; }
    .dashboard__list-no-tasks {
      display: none; }
    @media (min-width: 768px) {
      .dashboard__list::-webkit-scrollbar {
        background-color: #2c3e50;
        width: 4px; }
      .dashboard__list::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 187, 175, 0.35); } }
  .dashboard__status {
    display: none; }
  @media (max-width: 767px) {
    .dashboard {
      margin: 0 auto;
      padding-top: 20px; } }

.basic-form-button, .right-form__group-label, .left-buttons-button, .profile__content-left-name {
  font-size: 1.1rem;
  font-weight: 500; }

html {
  font-size: 16px; }

* {
  font-family: 'Roboto', sans-serif; }

.section {
  background: url("../img/bg.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow-y: auto; }
  @media (max-width: 767px) {
    .section {
      height: auto; } }
  @media (min-width: 768px) and (max-height: 620px) {
    .section {
      height: auto; } }

.content {
  padding-top: 40px;
  padding-bottom: 45px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.702);
  box-shadow: 0px 4px 36.86px 1.14px rgba(40, 39, 38, 0.5); }

.header {
  font-size: 1.8rem;
  font-weight: 500; }
