.profile {
	display:;
	&__content {
		margin-top: 50px;
		&-left {
			&-avatar {
				border: 4px solid #fff;
				width: 143px;
				height: auto;
			}
			&-name {
				margin-top: 1.1rem;
				@extend %default-font;
			}
		}
		&-right {
			margin-top: 10px;
		}
	}
}