@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/StudyJS_HTML_CSS\/diplom_app\/styles\/style\.scss}line{font-family:\000031}}
.welcomePage {
  font-family: 'Roboto', sans-serif;
  background: url("../img/bg.jpg") center no-repeat;
  font-weight: 700;
  color: #262626;
  padding-top: 26%;
  padding-bottom: 26%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/StudyJS_HTML_CSS\/diplom_app\/styles\/style\.scss}line{font-family:\000038}}
  .welcomePage__header {
    font-size: 30px;
    font-weight: 800; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/StudyJS_HTML_CSS\/diplom_app\/styles\/style\.scss}line{font-family:\0000312}}
  .welcomePage__discr {
    font-size: 18px;
    font-weight: 800; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/StudyJS_HTML_CSS\/diplom_app\/styles\/style\.scss}line{font-family:\0000316}}
  .welcomePage__registrationForm {
    font-size: 16px;
    padding-top: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/StudyJS_HTML_CSS\/diplom_app\/styles\/style\.scss}line{font-family:\0000319}}
    .welcomePage__registrationForm-alert {
      display: none;
      background-color: #fa5a5a;
      font-size: 14px;
      line-height: 1;
      color: #262626; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/StudyJS_HTML_CSS\/diplom_app\/styles\/style\.scss}line{font-family:\0000326}}
    .welcomePage__registrationForm-pinkButton {
      background-color: #b80093;
      color: #fff;
      font-size: 18px;
      line-height: 1.2;
      text-align: center;
      margin: 20px auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/StudyJS_HTML_CSS\/diplom_app\/styles\/style\.scss}line{font-family:\0000337}}
.textCenter {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/StudyJS_HTML_CSS\/diplom_app\/styles\/style\.scss}line{font-family:\0000341}}
.welcomePage__container {
  padding: 40px 0;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.702);
  box-shadow: 0px 4px 36.86px 1.14px rgba(40, 39, 38, 0.004); }
