@import "forms";
@import "left-buttons";
@import "welcome-page";
@import "profile-page";
@import "dashboard";

%default-font {
	font-size: 1.1rem;
  	font-weight: 500;
}

html {
	font-size: 16px
}
* {
	font-family: 'Roboto', sans-serif;
}

.section {
	background: url('../img/bg.jpg') center no-repeat;
	background-size: cover;
	height: 100vh;
    display: flex;
    align-items: center;
    overflow-y: auto;
    // scroll for small resolutions
    @media (max-width: 767px) {
    	height: auto;
    }
    @media (min-width: 768px) and (max-height: 620px) {
    	height: auto;
    }
}
.content{
	padding-top: 40px;
	padding-bottom: 45px;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.702);
	box-shadow: 0px 4px 36.86px 1.14px rgba(40, 39, 38, 0.5);
}
.header {
	font-size: 1.8rem;
  	font-weight: 500;
}


// 16 - 1rem
// 18 - 1.1rem
// 24 - 1.5rem
// 30 - 1.8rem
// 41 - 2.5rem
// 48 - 3rem;
